* { margin: 0; padding: 0; }

.header {
    background-color: #4CAF50;
    padding: 0px 10px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: end;
    display: flex;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin-right: 10px;
}

.header nav ul li a {
    text-decoration: none;
    color: white;
}
