<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Header</title>
</head>
<body>
    <div class="header" th:fragment="header">
        <link rel="stylesheet" th:href="@{/1rLF2DrdC9/css_1rLF2DrdC9/header.css}" type="text/css">
        <nav>
            <ul>
                <li>
                    <span><img src="" alt="SIMU API"></span>
                </li>
            </ul>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <h1 th:fragment="heade2">Hellow world not coming </h1>
</body>
</html>