<!DOCTYPE html>
<html lang="en" mlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SIMU API</title>
<link rel="stylesheet" th:href="@{/thirdparty/bootstrap/css/bootstrap.min.css}" crossorigin="anonymous" >
</head>
<body>
    <div th:replace="header/headerMainTemplate.html :: header"></div>
    <h1>Hellow world! </h1>
    <h1 th:replace="header/headerMainTemplate.html :: heade2">Hellow world not coming </h1>
</body>
</html>